{% extends 'base.html' %}
{% block title %}Мои доски{% endblock %}
{% block header %}
    <h1>Мои доски</h1>
{% endblock %}

{% block content %}
    <hr>
    {% for cat, message in get_flashed_messages(True) %}
        <div class="{{ cat }}" role="alert">{{ message }}</div>

    {% endfor %}
    {% for board in boards %}
        <a href={{ url_for('views.view_board', id=board.id) }}>
            <div class="card border-primary mb-3" style="max-width: 18rem;">
                <div class="card">
                    <div class="card-body">
                        {{ board.name }}
                        <a href={{ url_for('views.delete_board', id=board.id) }}>
                            <button type="submit" class="btn btn-primary float-end" >Удалить</button>
                        </a>
                    </div>
                </div>
            </div>
        </a>


    {% endfor %}


{% endblock %}